.main
{
    width: 100vw;
    height: 70vh;
    border: 2px solid red;
    display: grid;
    grid-template-areas:
    "space-l title space-r"
    "space-l exp1  space-r";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr;
    row-gap: 1rem;

}
.title
{
    border: 2px solid blue;
    grid-area: title;
}
.experience1
{
    border: 2px solid blue;
    grid-area: exp1;
}